* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
.main {
  width: 80vw;
  margin: 0 auto;
}
.map {
  position: relative;
}
.map-picture {
  width: 100%;
}
.mans {
  display: none;
}
.man {
  position: absolute;
  display: flex;
  height: 9%;
  align-items: baseline;
}
.man img {
  height: 100%;
}
.man-small {
  height: 40%;
}
.man-medium {
  height: 70%;
}
.man-large {
  height: 100%;
}
.man-northAmerica {
  top: 37%;
  left: 20%;
}
.man-southAmerica {
  top: 65%;
  left: 30%;
}
.man-europe {
  top: 34%;
  left: 50%;
}
.man-asia {
  top: 46%;
  right: 23%;
}
.man-australia {
  bottom: 17%;
  right: 14%;
}
.devices .device {
  position: absolute;
  height: 6%;
  z-index: 2;
}
.devices .device img {
  height: 100%;
}
.devices-northAmerica .device-small {
  top: 37%;
  left: 15%;
}
.devices-northAmerica .device-medium {
  top: 42%;
  left: 20%;
}
.devices-northAmerica .device-large {
  top: 38%;
  left: 24%;
}
.devices-southAmerica .device-small {
  bottom: 27%;
  left: 28%;
}
.devices-southAmerica .device-medium {
  bottom: 17%;
  left: 31%;
}
.devices-southAmerica .device-large {
  bottom: 24%;
  left: 33%;
}
.devices-europe .device-small {
  top: 33%;
  left: 58%;
}
.devices-europe .device-medium {
  top: 42%;
  left: 45%;
}
.devices-europe .device-large {
  top: 38%;
  left: 52%;
}
.devices-asia .device-small {
  top: 39%;
  left: 80%;
}
.devices-asia .device-medium {
  top: 51%;
  left: 67%;
}
.devices-asia .device-large {
  top: 49%;
  left: 75%;
}
.devices-australia .device-small {
  bottom: 17%;
  right: 15%;
}
.devices-australia .device-medium {
  bottom: 17%;
  right: 19%;
}
.devices-australia .device-large {
  bottom: 17%;
  right: 11%;
}
.servers .server {
  z-index: 2;
  position: absolute;
  height: 5.5%;
}
.servers .server img {
  height: 100%;
}
.servers .server-northAmerica-1 {
  top: 45%;
  left: 14%;
}
.servers .server-northAmerica-2 {
  top: 42%;
  left: 28%;
}
.servers .server-europe {
  top: 38%;
  left: 48%;
}
.servers .server-asia {
  top: 67%;
  left: 75%;
}
.servers .server:hover {
  cursor: pointer;
}
.servers .server_ByteCloud {
  display: none;
}
.servers .server .circle-empty {
  display: none;
}
.servers .server .circle-filled {
  display: none;
}
.arcs-server-northAmerica-1 {
  display: none;
}
.arcs-server-northAmerica-2 {
  display: none;
}
.arcs-server-europe {
  display: none;
}
.arcs-server-asia {
  display: none;
}
.arc {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
}
.arc img {
  width: 100%;
  height: 100%;
}
