* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


.main {
    width: 80vw;
    margin: 0 auto;
}

.map {
    &-picture {
        width: 100%;
    }

    position: relative;
}


.man {
    position: absolute;
    display: flex;
    height: 9%;
    align-items: baseline;

    &:hover {
        cursor: pointer;
    }

    img {
        height: 100%;
    }

    &-small {
        height: 40%;
    }

    &-medium {
        height: 70%;
    }

    &-large {
        height: 100%;
    }

    &-northAmerica {
        top: 37%;
        left: 20%;
    }

    &-southAmerica {
        top: 65%;
        left: 30%;
    }

    &-europe {
        top: 34%;
        left: 50%;
    }

    &-asia {
        top: 46%;
        right: 23%;
    }

    &-australia {
        bottom: 17%;
        right: 14%;
    }
}

.devices {
    .device {
        display: none;
        position: absolute;
        height: 6%;
        z-index: 2;

        img {
            height: 100%;
        }
    }

    &-northAmerica {
        .device-small {
            top: 37%;
            left: 15%;
        }

        .device-medium {
            top: 42%;
            left: 20%;
        }

        .device-large {
            top: 38%;
            left: 24%;
        }
    }

    &-southAmerica {
        .device-small {
            bottom: 27%;
            left: 28%;
        }

        .device-medium {
            bottom: 17%;
            left: 31%;
        }

        .device-large {
            bottom: 24%;
            left: 33%;
        }
    }

    &-europe {
        .device-small {
            top: 33%;
            left: 58%;
        }

        .device-medium {
            top: 42%;
            left: 45%;
        }

        .device-large {
            top: 38%;
            left: 52%;
        }
    }

    &-asia {
        .device-small {
            top: 39%;
            left: 80%;
        }

        .device-medium {
            top: 51%;
            left: 67%;
        }

        .device-large {
            top: 49%;
            left: 75%;
        }
    }

    &-australia {
        .device-small {
            bottom: 17%;
            right: 15%;
        }

        .device-medium {
            bottom: 17%;
            right: 19%;
        }

        .device-large {
            bottom: 17%;
            right: 11%;
        }
    }
}

.servers {
    //display: none;

    .server {
        z-index: 2;
        position: absolute;
        height: 5.5%;

        img {
            height: 100%;
        }

        &-northAmerica-1 {
            top: 45%;
            left: 14%;
        }

        &-northAmerica-2 {
            top: 42%;
            left: 28%;
        }

        &-europe {
            top: 38%;
            left: 48%;
        }

        &-asia {
            top: 67%;
            left: 75%;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.arcs-server {
    &-northAmerica-1 {
        display: none;
    }

    &-northAmerica-2 {
        display: none;
    }

    &-europe {
        display: none;
    }

    &-asia {
        display: none;
    }
}

.arc {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;

    img {
        width: 100%;
        height: 100%;
    }
}