* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
  position: relative;
}
.main {
  width: 80vw;
  margin: 0 auto;
}
.main .text {
  margin-top: 10px;
  font-size: 2vw;
  display: inline-block;
  background-color: #bce4a2;
  padding: 10px;
  border-radius: 5px;
}
.map {
  position: relative;
}
.map-picture {
  width: 100%;
}
.man {
  position: absolute;
  display: flex;
  height: 9%;
  align-items: baseline;
}
.man:hover {
  cursor: pointer;
}
.man img {
  height: 100%;
}
.man-small {
  height: 40%;
}
.man-medium {
  height: 70%;
}
.man-large {
  height: 100%;
}
.man-northAmerica {
  top: 37%;
  left: 20%;
}
.man-southAmerica {
  top: 65%;
  left: 30%;
}
.man-europe {
  top: 34%;
  left: 50%;
}
.man-asia {
  top: 46%;
  right: 23%;
}
.man-australia {
  bottom: 17%;
  right: 14%;
}
.devices .device {
  display: none;
  position: absolute;
  height: 6%;
  z-index: 2;
}
.devices .device_screen-wrapper {
  position: relative;
  height: 100%;
}
.devices .device .screen {
  position: absolute;
  transition: width 0.5s ease-in-out;
  background-color: #1528d3;
}
.devices .device-small .screen {
  top: 28%;
  left: 34%;
  width: 0%;
  height: 21%;
}
.devices .device-medium .screen {
  top: 15%;
  left: 26%;
  width: 0%;
  height: 70%;
}
.devices .device-large .screen {
  top: 22%;
  left: 11%;
  width: 0%;
  height: 47%;
}
.devices .device:hover .screen {
  width: 0px;
}
.devices .device img {
  height: 100%;
}
.devices-north-america_ .device-small {
  top: 39%;
  left: 16%;
}
.devices-north-america_ .device-medium {
  top: 42%;
  left: 20%;
}
.devices-north-america_ .device-large {
  top: 38%;
  left: 24%;
}
.devices-south-america_ .device-small {
  bottom: 27%;
  left: 28%;
}
.devices-south-america_ .device-medium {
  bottom: 17%;
  left: 31%;
}
.devices-south-america_ .device-large {
  bottom: 24%;
  left: 33%;
}
.devices-europe_ .device-small {
  top: 33%;
  left: 58%;
}
.devices-europe_ .device-medium {
  top: 42%;
  left: 45%;
}
.devices-europe_ .device-large {
  top: 38%;
  left: 52%;
}
.devices-asia_ .device-small {
  top: 39%;
  left: 80%;
}
.devices-asia_ .device-medium {
  top: 51%;
  left: 67%;
}
.devices-asia_ .device-large {
  top: 49%;
  left: 76%;
}
.devices-oceania_ .device-small {
  bottom: 17%;
  right: 15%;
}
.devices-oceania_ .device-medium {
  bottom: 17%;
  right: 19%;
}
.devices-oceania_ .device-large {
  bottom: 17%;
  right: 11%;
}
.servers {
  display: none;
}
.servers .server {
  z-index: 2;
  position: absolute;
  height: 5.5%;
}
.servers .server img {
  height: 100%;
}
.servers .server-northAmerica-1 {
  top: 45%;
  left: 14%;
}
.servers .server-northAmerica-2 {
  top: 42%;
  left: 28%;
}
.servers .server-europe {
  top: 38%;
  left: 48%;
}
.servers .server-asia {
  top: 67%;
  left: 75%;
}
.servers .server:hover {
  cursor: pointer;
}
.arcs-server-northAmerica-1 > div {
  display: none;
}
.arcs-server-northAmerica-2 > div {
  display: none;
}
.arcs-server-europe > div {
  display: none;
}
.arcs-server-asia > div {
  display: none;
}
.arc {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
}
.arc img {
  width: 100%;
  height: 100%;
}
.info-text {
  display: none;
  position: absolute;
  background-color: #bce4a2;
  padding: 4px;
  border-radius: 4px;
}
.info-text_northAmerica_ {
  top: 50%;
  left: 23%;
}
.info-text_southAmerica_ {
  top: 83%;
  left: 24%;
}
.info-text_europe_ {
  top: 48%;
  left: 50%;
}
.info-text_asia_ {
  top: 58%;
  left: 72%;
}
.info-text_australia_ {
  top: 72%;
  left: 86%;
}
.result-table-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: none;
  z-index: 99;
}
.result-table-wrapper .text {
  display: inline-block;
  margin-top: 10px;
  margin-left: 7%;
  background-color: #bce4a2;
  padding: 10px;
  border-radius: 5px;
}
.result-table-inner {
  width: 50%;
  margin: 7% auto 0;
  display: flex;
  gap: 2%;
}
.result-table-inner h2 {
  font-size: 2vw;
  margin-bottom: 10px;
}
.result-table-inner .result-object {
  flex-grow: 1;
  text-align: center;
}
.result-table-inner .result-byteCloud {
  flex-grow: 1;
  text-align: center;
}
.result-table-inner .item {
  background-color: #bce4a2;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  font-size: 0.9vw;
  margin-bottom: 2%;
}
.result-table-inner .item .header {
  width: 100%;
  border-bottom: 1px solid #000;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
}
.result-table-inner .item .header .stars {
  display: flex;
}
.result-table-inner .item .header img {
  width: 20%;
}
.result-table-inner .item .result-main {
  display: flex;
  width: 100%;
}
.result-table-inner .item-cell {
  padding: 10px;
}
.result-table-inner .item .latency {
  border-right: 1px solid #000;
}
.result-table-inner .item .download-time {
  border-right: 1px solid #000;
}
.result-table-inner .item .quality {
  flex-grow: 1;
}
